body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #777777;
    background-image: url("images/memphis-colorful.png");
}

header {
    background-color: #ffffff;
    border-bottom: solid 1px #777777;
}

h3 {
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    height: 100%;
}

.nav-wrapper {
    padding: 10px;
}

.nav-link {
    color: #777777;
}

li
{
  border-right: 1px #777777 solid;
}
li:last-child
{
  border-right: none;
}

.box {
    padding:10px;
    background-color: #ffffff;
    margin-top: 30px;
    border: solid 1px lightgray;
    color: #777777
    
}

.section-title {
    background-color: #ffffff;
    color: #4aaaa5;
    text-align: left;
    padding-left: 0;
}

.profile-pic {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 10px 10px 0;
}

.body {
    margin-bottom: 80px;
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:active {
    background-color: #4aaaa5 !important;
    border: 1px solid #4aaaa5 !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #777777;
    color: #ffffff;
    border-top: solid 5px #4aaaa5;
    font-size: 12px;
}

.card {
    margin-bottom: 30px;
}

.card-text {
    color: #ffffff;
}

.card-overlay {
    background-color: cadetblue;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em 0;
    margin: 0 0 1em 0;
    text-align: center;
}